@charset "ISO-8859-1";

body {
	background: #99ccff;
	margin: 0;
}

h1 {
	font-size: 50px;
	font-family: ArmyChalk;
}

.admin_login {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	margin-top: 8%;
}

.divcontainer {
	height: 100%;
	width: 100%;
}


}
</
style
>
<
script
>